doctype
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{locals.url}#{page.url}')
    meta(property='og:image', content='#{locals.url}/images/logo.png')
    meta(name='theme-color', content='#911C80')

    block meta
      meta(property='og:description', content=locals.description)
      meta(name='description', content=locals.description)
      meta(name='keywords', content=locals.keywords)

    block title
      title= locals.name
      meta(property='og:title', content= locals.name)

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon', type='image/png' sizes='194x194' href='/favicon-194x194.png')
    link(rel='icon', type='image/png' sizes='96x96' href='/favicon-96x96.png')
    link(rel='icon', type='image/png' sizes='192x192' href='/android-chrome-192x192.png')
    link(rel='icon', type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')

    meta(mane='msapplication-TileColor', content='#00aba9')
    meta(mane='msapplication-TileColor', content='/mstile-144x144.png')
    meta(mane='theme-color', content='#ffffff')

    link(rel='alternate', href='/feed.xml', type='application/rss+xml', title=locals.name)
    link(href='//fonts.googleapis.com/css?family=Lato:300|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/main.css')

  body.site(class=page.metadata.category ? 'site--' + page.metadata.category : 'site--start')
    header.header
      .header-wrapper
        nav.menu-wrapper
          .grid
            .small-12.columns
              ul.menu
                li.menu__item
                  a.menu__item__link.menu__item__link--start(href='/') Start
                li.menu__item
                  a.menu__item__link.menu__item__link--news(href='/news/') News
                //li.menu__item
                  a.menu__item__link.menu__item__link--location(href='/location/') Ablauf & Location
                //li.menu__item
                  a.menu__item__link.menu__item__link--ablauf(href='/ablauf/') Ablauf
                //li.menu__item
                  a.menu__item__link.menu__item__link--tickets(href='/tickets/') Tickets
                li.menu__item
                  a.menu__item__link.menu__item__link--sessions(href='/sessions/') Sessions
                li.menu__item
                  a.menu__item__link.menu__item__link--sponsoring(href='/sponsoring/') Sponsoring
                li.menu__item
                  a.menu__item__link.menu__item__link--faq(href='/faq/') FAQ
                li.menu__item
                  a.menu__item__link.menu__item__link--about(href='/about/') About

        .grid
          .small-12.columns
            a(href='/')
              img.header__logo(src='/images/logo.png')



    block content

    block sponsors

      .sponsors
        .grid

          //h2.text-center in Kooperation mit:
          .small-12.medium-10.medium-centered.large-8.large-centered.columns
            - var sponsors = _.chain(contents.sponsoring._.directories).map(function(item) {
            -   return item.index;
            - }).compact().sortBy(function(item) {
            -   return item.name;
            - }).value();

            - var actualSponsors = _.filter(sponsors, function(sponsor) {
            -   return sponsor.metadata.type === 'partner';
            - })

            .row
              .small-12.columns
                .sponsor-list
                  each sponsor in actualSponsors
                    .sponsor.text-center
                      a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank', alt=sponsor.metadata.name)
                        img(src= sponsor.url + sponsor.metadata.logo, alt=sponsor.metadata.name)


            h2.text-center Das Barcamp Erfurt wird unterst端tzt von:
            - var sponsors = _.chain(contents.sponsoring._.directories).map(function(item) {
            -   return item.index;
            - }).compact().sortBy(function(item) {
            -   return item.name;
            - }).value();

            - var actualSponsors = _.filter(sponsors, function(sponsor) {
            -   return sponsor.metadata.type === 'gold';
            - })

            .row
              .small-12.columns
                .sponsor-list
                  each sponsor in actualSponsors
                    .sponsor.text-center
                      a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank', alt=sponsor.metadata.name)
                        img(src= sponsor.url + sponsor.metadata.logo, alt=sponsor.metadata.name)

            - var actualSponsors = _.filter(sponsors, function(sponsor) {
            -   return sponsor.metadata.type === 'silver';
            - })

            .row
              .small-12.columns
                .sponsor-list
                  each sponsor in actualSponsors
                    .sponsor.text-center
                      a.sponsor__link.sponsor__link__silver(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank')
                        img(src= sponsor.url + sponsor.metadata.logo, alt=sponsor.metadata.name)


            - var actualSponsors = _.filter(sponsors, function(sponsor) {
            -   return sponsor.metadata.type === 'bronze';
            - })

            .row
              .small-12.columns
                .sponsor-list
                  each sponsor in actualSponsors
                    .sponsor.text-center
                      a.sponsor__link.sponsor__link__bronze(href=sponsor.metadata.link, title=sponsor.metadata.name, target='_blank')
                        img(src= sponsor.url + sponsor.metadata.logo, alt=sponsor.metadata.name)

    footer.footer.fancy-background#footer
      .grid(style="margin-bottom: 70px; border: 1px; border-style: solid;     border-radius: 3px; color: #c6463f; max-width:400px; padding-top: 20px; padding-bottom: 40px; padding-left: 40px; padding-right: 40px;")
        h2.text-center(style="color: #434a54; font-size: 1.5em; font-family: 'Open Sans', sans-serif; line-height: 1.333; -webkit-font-smoothing: antialiased; margin-bottom: 30px;") Unterst端tze das <br />BarCamp Erfurt:
        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="spenden" name="spenden")
         input(type="hidden" name="cmd" value="_s-xclick")
         input(type="hidden" name="hosted_button_id" value="48KW76SU6FQMA")
         input(type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" width="50%" border="0" name="submit" alt="Unterst端tze das BarCamp mit einer Spende.")

      //- |<a href="https://www.betterplace.org/de/projects/45050-5-barcamp-kinder-jugend-medien-fachkonferenz-05-06-11-2016" target="_blank">Unterst端tze unsere Konferenz jetzt bei betterplace.org. Vielen Dank!</a>
      //- <br />
      //- iframe.small-centered( width='200', height='300', frameBorder='0', style='margin-top:20px' src='https://www.betterplace.org/de/projects/45050-5-barcamp-kinder-jugend-medien-fachkonferenz-05-06-11-2016/widget')
      .grid.footer__row
        .small-12.medium-8.large-6.small-centered.columns
          a(href='/imprint/') Impressum
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a(href='/sponsoring/') Sponsoring
          | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
          a(href='/presse/') Presse
      .grid.footer__row
        .small-12.medium-8.large-6.small-centered.columns
          a.social-icon(href='http://twitter.com/barcamperfurt', title='@BarCampErfurt')
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a.social-icon(href='https://www.facebook.com/barcamperfurt', title='facebook.com/barcamperfurt')
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a.social-icon(href='https://instagram.com/barcamp_erfurt', title='instagram.com/barcamp_erfurt')
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a.social-icon(href='https://www.youtube.com/channel/UCNZNWj08XjH4RhivvmisVNg', title='BarCamp Erfurt @ youtube')
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a.social-icon(href='https://www.eyeem.com/u/barcamperfurt', title='BarCamp Erfurt @ EyEm')
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a.social-icon(href='mailto:info@barcamp-erfurt.de', title='info@barcamp-erfurt.de')

      .grid.footer__row
        .small-12.medium-8.large-6.small-centered.columns
          | Wir erwarten, dass alle Teilnehmer die &nbsp;
          a(href='/code-of-conduct/') Verhaltensregeln
          |  beachten.

      .grid.footer__row
        .small-12.medium-8.large-6.small-centered.columns made with &hearts; and node.js, inspired by&nbsp;
          a(href='http://2015.jsunconf.eu/') 2015.jsunconf.eu

    script.

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-26457669-2', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
