extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content
  .grid
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title

    .small-12.medium-10.medium-centered.large-8.large-centered.columns

      .grid.sessions
        each session in page.metadata.sessions
          .session
            .text-center
              a.session__link(href=session.link, title=session.name)
                img.session__logo(src= "/sessions/" + session.img, alt=session.name)
              p
                span= session.name
                br
                a(href= "https://twitter.com/" + session.twitter, target='_blank')= "@" + session.twitter
                br
                a(href=session.link, target='_blank')= session.link
            p.session__text!= session.text

