extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content
  .grid
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title
        p Wir fragen jeden Teilnehmer nach der Anmeldung nach möglichen Sessions und listen sie hier. Du hast schon etwas geplant und willst es hier gelistet sehen? Dann schreib einfach <a href=\"mailto:martin@barcamp-erfurt.de\">martin@barcamp-erfurt.de</a>. Diese Liste ersetzt aber nicht das Session Planning. Das findet wie gehabt an den BarCamp Tagen statt.
        .grid.sessions
          each session in page.metadata.sessions        
            .session.media
              a.session__link.media-figure(href=session.link, title=session.name)
                img.session__logo(src= "/sessions/" + session.img, alt=session.name)
              .media-body
                div
                  span= session.name
                  =" "

                  if session.twitter
                    a(href= "https://twitter.com/" + session.twitter, target='_blank')= "@" + session.twitter

                  if session.link
                    a(href=session.link, target='_blank')= session.link
                p.session__text!= session.text

        .session-wunsch
          h1 Wunschsessions
          p Du weißt nicht, zu welchem Thema du eine Session abhalten könntest? Hier findest du Wünsche anderer Teilnehmer. Wunsch-Themen schickst du einfach an <a href=\"mailto:martin@barcamp-erfurt.de\">martin@barcamp-erfurt.de</a>. 
          .grid.sessions
            ul
              each session in page.metadata.wuensche        
                li.session
                  p.session__text!= session.text
