extends layout

block title
  title= page.title + ' – ' + locals.name
  meta(property='og:title', content= page.title + ' – ' + locals.name)

block content
  .grid.sponsoring
    .small-12.medium-10.medium-centered.large-8.large-centered.columns
      article
        header
          h1!= page.title

    .small-12.medium-10.medium-centered.large-8.large-centered.columns
        p Das BarCamp "Jugend & Medien" ist kostenlos für über 100 Teilnehmer. Alle Organisatoren arbeiten ehrenamtlich. Trotzdem entstehen jedes Jahr zirka 5000EUR Kosten für Miete, Catering, Versicherung etc. Das ist nur dank unserer großartigen Sponsoren möglich. Wenn du uns auch unterstützen willst (ob finanziell, materiell oder ideell), dann wende Dich an <a href="mailto:peter@barcamp-erfurt.de"> Peter. </a>

        h2 Wie kann man unterstützen
        ul
          li <strong>Finaziell</strong>
          Firmen und Institutionen können ab 299EUR Sponsor werden und somit auch auf der Veranstaltung und unseren Onlinekanälen werben. Für Privatpersonen gibt es eine betterplace-Kampagne.
          li <strong>Materiell</strong>
          Vom Teebeutel bis zum Leih-Beamer gibt es viel, das wir gebrauchen können. Auch als Materialsponsor kannst Du uns unterstützen oder als Materialsponsor für deine Firma werben. Ob Obst, Snacks, Kaffee oder Haftnotizen - schreib uns! 
          li <strong>Idell</strong>
          Hilf uns, unsere Konferenz noch bekannter zu machen. Du kennst mögliche Sponsoren? Du schreibst einen Blog oder Newsletter und willst uns erwähnen? Retweete, Like und Verlinke uns!

        h2 Wie profitiere ich als Unternehmen vom Sponsoring?
        ul
          li Werbung für Ihr Unternehmen bei Innovatoren, Multiplikatoren und Experten
          li Präsentation Ihres Projektes bei einer meinungsbildenen Zielgruppe
          li starke Einbindung Ihrer Marke in unsere Öffentlichkeitsarbeit
          li für Premiumsponsoren: Ihr Logo auf über 100 T-Shirts für jeden Teilnehmer
          li Karma!
        |Sie sind in bester Gesellschaft. BarCamps werden u.a. gesponsert von Microsoft, Google, Otto, Burda Media oder der Telekom


//        .row
//          .small-12.columns
//            h2 Test
//
//
//        - var sponsors = _.chain(contents.sponsoring._.directories).map(function(item) {
//        -   return item.index;
//        - }).compact().sortBy(function(item) {
//        -   return item.name;
//        - }).value();
//
//        .row
//          .small-12.columns
//            .sponsor-list
//              h2.sponsor-list__title Gold Sponsoren
//
//          - var goldSponsors = _.filter(sponsors, function(sponsor) {
//          -   return sponsor.metadata.type === 'gold';
//          - });
//
//          each sponsor in goldSponsors
//            .small-12.columns.sponsor
//              .text-center
//                a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
//                  img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
//                p
//                  br
//                  a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
//                  br
//                  a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link
//              p.sponsor__text!= sponsor.metadata.text
//
//        .row
//         .small-12.columns
//            .sponsor-list
//              h2.sponsor-list__title Silver Sponsors
//
//          - var silverSponsors = _.filter(sponsors, function(sponsor) {
//          -   return sponsor.metadata.type === 'silver';
//          - });
//
//          each sponsor in silverSponsors
//            .small-12.columns.sponsor
//              .text-center
//                a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
//                  img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
//                p
//                  br
//                  a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
//                  br
//                  a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link
//              p.sponsor__text!= sponsor.metadata.text
//
//        .row
//          .small-12.columns
//            .sponsor-list
//              h2.sponsor-list__title Bronze Sponsors
//
//          - var bronzeSponsors = _.filter(sponsors, function(sponsor) {
//          -   return sponsor.metadata.type === 'bronze';
//          - });
//
//          each sponsor in bronzeSponsors
//            .small-12.columns.sponsor
//              .text-center
//                a.sponsor__link(href=sponsor.metadata.link, title=sponsor.metadata.name)
//                  img.sponsor__logo(src= sponsor.url + 'logo.png', alt=sponsor.metadata.name)
//                p
//                  br
//                  a(href='https://twitter.com/' + sponsor.metadata.twitter, target='_blank')= sponsor.metadata.twitter
//                  br
//                  a(href=sponsor.metadata.link, target='_blank')= sponsor.metadata.link
//              p.sponsor__text!= sponsor.metadata.text

block sponsors
  //- Empty
